{% extends "layout.html" %}
{% block body_content %}
	<p>
	This is the complete movie list</br>
	in your collection<br>
        -----------------------------------------
	</p>
	{% if posts %}
		{% for post in posts %}
			<div>
				<h3>Movie title:  {{ post.title }} </h3>
				<span> released: {{ post.release_year }} <br>
					catalogue id: {{ post.movie_id }} <br><br>
					<a href="{{ url_for('update', movie_id=post.movie_id) }} ">Update this movie</a>
					<br>
				-----------------------------------------
				</span>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

